/* 字体 */
@font-face {
    font-family: "yfjlxs";
    src: url("/fonts/云峰静龙行书.ttf");
}
@font-face {
    font-family: "bxzlzt";
    src: url("/fonts/标小智龙珠体.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 加载动画 */
.loader {
    position: fixed;
    z-index: 985211;
    width: 100%;
    height: 100%;
    background-image: url(/images/tx1.jpg);
    background-size: 100% 100%;

    /* loader页面消失采用渐隐的方式*/
    -webkit-transition: opacity 1.5s ease;
    -moz-transition: opacity 1.5s ease;
    -o-transition: opacity 1.5s ease;
    transition: opacity 1.5s ease;
}

.fadeout {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* logo出现动画 */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

/* 分割线 */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

@keyframes pulse {
    50% {
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);

    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);

    }
}

html,
body {
    height: 100%;
    font-family: 'bxzlzt';
    background-image: url('/images/img_sky.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
}

section {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


@keyframes pulse {
    50% {
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);

    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);

    }
}

#interface {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 3px 13px;
}

/* 名字展示 */
#nameDisplay {
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 19vw;
    font-family: 'yfjlxs';
    overflow: hidden;
    white-space: nowrap;
}

button {
    display: flex; /* 使用Flexbox */
    margin: auto; /* 水平居中 */
    justify-content: center;
    align-items: center;
    width: 49vw;
    height: 25vh;
    border: 0;
    font-family: 'bxzlzt';
    background-image: linear-gradient(to right, #ff9bab 0%, #FFC0CB 51%, #ff9bab 100%);
    background-size: 200% auto;
    border-radius: 8px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
    transition: ease .1s;
    font-size: 10vh;
}

button:hover {
    background-position: right center;
    color: #E6F1ED;
    text-decoration: none;
}