/* 字体 */
@font-face {
    font-family: "yfjlxs";
    src: url("/fonts/云峰静龙行书.ttf");
}

@font-face {
    font-family: "bxzlzt";
    src: url("/fonts/标小智龙珠体.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'bxzlzt';
    background-image: url('/images/img_sky.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
}

section {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


#interface {
    position: relative;
    text-align: center;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    padding: 30px 30px;
    border-radius: 26px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
    backdrop-filter: blur(25px);
}

/* 名字展示 */
#nameDisplay {
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 17vw;
    font-family: yfjlxs;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}

/* 按钮样式 */
button {
    width: 60vw;
    height: 18vh;
    border: 0;
    font-family: 'bxzlzt';
    background-image: linear-gradient(to right, #ff9bab 0%, #FFC0CB 51%, #ff9bab 100%);
    background-size: 200% auto;
    border-radius: 8px;
    color: #fbff21;
    outline: none;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
    transition: ease .1s;
    font-size: 6vw;
}

button:hover {
    background-position: right center;
}

/* 返回按钮样式 */
.back-button {
    top: 0;
    left: 0;
    z-index: 985;
    position: fixed;
    width: 12vw;
    height: 9vh;
    font-family: 'bxzlzt';
    background-image: linear-gradient(to right, #ff9bab 0%, #FFC0CB 51%, #ff9bab 100%);
    background-size: 200% auto;
    border-radius: 60px;
    color: #741081;
    outline: none;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
    transition: ease .1s;
    font-size: 3vw;
}

.back-button:before {
    content: '返回';
    /* 添加返回文本 */
}

button:hover {
    background-position: right center;
    color: #E6F1ED;
    text-decoration: none;
}

/* 抽取历史展示 */

/* 记录板容器 */
.tech-board {
    position: fixed;
    top: 1%;
    max-height: 95%;
    right: 1px;
    width: 19vw;
    z-index: 211;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgb(7, 202, 216), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(150px);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    /* 当内容超出时启用滚动条 */
    overflow-y: auto;
}

/* 记录板标题 */
.tech-board .title {
    padding: 5px;
    color: rgb(251, 255, 0);
    font-size: 3vw;
    font-family: 'bxzlzt';
    background: linear-gradient(to right, #91fff6, #26c0fd);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* 记录板人数 */
.tech-board .p {
    padding: 2px;
    color: #FFC0CB;
    font-size: 2.5vw;
    font-family: 'bxzlzt';
}

/* 记录列表 */
.tech-board .record-list {
    padding: 2px;
    color: #06eeff;
    font-size: 4vw;
    font-family: 'yfjlxs';
    list-style: none;
}


/* 通知横幅样式 */
.notification {
    position: fixed;
    top: 6px;
    left: 50%;
    width: 70%;
    background-color: rgba(255, 223, 238, 0.9);
    color: #19a8cc;
    text-align: center;
    transform: translateX(-50%);
    font-size: 5vw;
    overflow: hidden;
    border-radius: 10px;
    white-space: nowrap;
    opacity: 0;
    /* 初始透明度为0，即不可见 */
    transition: opacity 0.6s ease;
    /* 添加渐显效果 */
    z-index: 985211;
    /* 确保通知显示在最上层 */
}

.notification.show {
    opacity: 1;
    /* 改变透明度为1，使其可见 */
}

/* 针对竖屏幕设备的样式调整 */
@media screen and (orientation: portrait) {

    button {

        width: 87vw;
        height: 19.99vh;
        font-size: 9.85vh;
    }

    #nameDisplay {
        font-size: 26vw;
    }

    .notification {
        top: 13vh;
    }

    /* 记录板容器 */
    .tech-board {
        top: 38vh;
        width: 21.1vw;
    }

    /* 记录板标题 */
    .tech-board .title {
        font-size: 8vw;
    }

    /* 记录板人数 */
    .tech-board .p {
        padding: 1px;
        font-size: 3.66vw;
        color: #fff5ef;
    }

    /* 记录列表 */
    .tech-board .record-list {
        padding: 1px;
        font-size: 5.21vw;
    }

    /* 返回按钮样式 */
    .back-button {
        top: 9.85vh;
        width: 12vw;
        height: 19.85vh;
        font-size: 6.66vw;
    }
}