/* 字体 */
@font-face {
  font-family: "yfjlxs";
  src: url("/fonts/云峰静龙行书-小.ttf");
}

@font-face {
  font-family: "bxzlzt";
  src: url("/fonts/标小智龙珠体-小.ttf");
}

@keyframes background-fade {
  0% {
    background-color: hsla(351, 100%, 91%, 0.8);
    backdrop-filter: blur(9.85px);
  }

  50% {
    background-color: rgba(255, 182, 194, 0.9);
    backdrop-filter: blur(2.11px);
  }

  100% {
    background-color: hsla(351, 100%, 91%, 0.8);
    backdrop-filter: blur(9.85px);
  }
}

.hitokoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hitokoto {
  z-index: 985;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: auto;
  max-width: 66vw;
  min-width: 12.11vw;
  min-height: 19.85vh;
  height: auto;
  background-size: 200% auto;
  border-radius: 5px;
  text-align: center;
  padding: 2px 10px;
  animation: background-fade 6.6s infinite;
}

p.yiyan-container {
  font-size: 3vw;
  line-height: 6vh;
  font-weight: 6vw;
  text-align: center;
  font-family: '宋体';
  color: #211985;
}

p.yiyan-container span.cursor {
  border-left: #000 solid 1px;
  margin-left: 10px;
  animation: cursor 1s linear infinite;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 加载动画 */
/* 
.txloader {
  position: fixed;
  z-index: 985211;
  width: 100%;
  height: 100%;
  background-image: url(/images/tx1.jpg);
  background-size: 100% 100%;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.fadeout {
  opacity: 0;
  filter: alpha(opacity=0);
} */

/* 加载动画结束 */

/* 针对竖屏幕设备的样式调整 */
@media screen and (orientation: portrait) {
  .hitokoto {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-hitokoto {
    max-width: 96vw;
    min-width: 12.11vw;
    min-height: 8.86vh;
    padding: 2px 5px;
  }

  p.yiyan-container {
    font-size: 4.32vw;
    line-height: 3.6vh;
    font-weight: 4vw;
  }

  p.yiyan-container span.cursor {
    margin-left: 6.66px;
  }
}